<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        body{background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
    </style>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <scri   pt defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<body>
    <a href="home" class="btn btn-danger" style="width: 200px;">home</a>
    <center>
        <form action="/seccee" method="get">
            <br>
            <br>
            <br>
    <input type="text" name="name" id="name" class="form-control" placeholder="enter your name"  aria-label="enter your name" aria-describedby="basic-addon2" >
    <br>
           <br>
    <input type="text" name="name" id="email" class="form-control" placeholder="enter your email" aria-label="enter your name" aria-describedby="basic-addon2" >
    <br>
           <br>
    <input type="text" name="name" id="number" class="form-control" placeholder="enter your phone number" aria-label="enter your name" aria-describedby="basic-addon2" >
    <br>
    </center>

    <input type="submit" name="submit" id="" style="background-color: black; color: aliceblue;">
    <center>
    </form>
    <br>
    <br>
    
    
    </center>
    
</body>
</html>